

{% block page %}

	<div class="page {{ pageName }}">

		<div class="ux grid container">

			<div class="ux wrapper inner">

				{% block content %} {% endblock %}

			</div>

		</div>

	</div>

{% endblock %}