<!DOCTYPE html>

<html>

	<head>

		<title></title>

		<base href="{{ siteUrl }}">
		<link rel="canonical" href="{{ siteUrl }}" />

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="robots" content="index, nofollow">

		<script type="text/javascript" data-main="" src="assets/js/lib/3rdparty/require.js"></script>

		<link href="assets/style/css/main.css" rel="stylesheet" />
		<link rel="stylesheet" media="screen" href="assets/style/css/devices/alt.css" /> 

	</head>